html{
    background:rgb(250, 245, 238);
    font-family: 'Jost', sans-serif;


}
p {
    text-align: center;
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
}

li {
    font-size:18px;
    line-height:2;
    letter-spacing:3px;
}

.bold{
    font-weight: bold;


}

p.bold{
    text-decoration:underline;
}

li.bold{

    font-style:italic;

}

img {
    display: block;
    margin: 0 auto;
}